
.videos
  position relative
  &.style-flat
    display: flex
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    for n in (1..10)
      &.zoom-{n}
        > *
          width: (100/n)%
  &.style-mason
    > *
      width 100%
    column-gap 0
    for n in (1..10)
      &.zoom-{n}
        column-count n
