
.app
  // border 2px dotted
  width: 100%
  height: 100%
  // display grid
  // grid-template: \
  //   "controls settings "\
  //   "input    settings "\
  //   "settings  "\
  //   "videos   videos   " / auto 15em

  // align-items: baseline
  > *
    position relative
    // border 2px dotted

.controls
  grid-area: controls
  display flex
.input
  grid-area: input
  display flex
.playlist
  grid-area: playlist
  display flex
.videos
  grid-area: videos
  display flex
.settings
  grid-area: settings
  display flex

